

body {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("img/articlebg.svg");
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

section {

    background-color: rgba(234, 238, 236, 0.3);
    border-radius: 2em;
    padding: 1em;
    margin: 1em 0em;

}

article {
    border: 1px dashed rgba(41, 41, 41, 1);
    margin: 1.5em 5em;
    background-color: rgba(215, 215, 215, 0.62);
    padding: 1em;
    border-radius: 1em 2em;
    color: black;
}

.small {
    font-size: 12px;
}
